/* Fuentes Importadas */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Headland+One&display=swap');

/* Variables Css */
:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Headland One', serif;
    --font-monospace: 'Fira Code', monospace;
    --font-code: 'Source Code Pro', monospace;
    --font-encode: 'Encode Sans', sans-serif;
    --font-expletus: 'Expletus Sans', serif;

    --color-background: #F3F5FC;
    --color-primary: #007bff;
    --color-secondary: #495057;
    --color-highlight: #0A3871;
    --color-highlight-light: #356EA9;
    --color-highlight-bg: #E9ECF8;
    --color-alert: #757FB2;
    --color-alert-text: #F3F5FC;
    --color-footer-bg: #052051;
    --color-footer-text: #EFF1FA;
}

/* Estilos Globales */
body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Encabezado */
header {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 2.4rem ;
    font-weight: 500;
    font-family: var(--font-secondary);
    color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1000;
}

header h1 {
    position: absolute;
    width: 800px;
    top: 15px;
    left: 200px;
}

/* Sección Principal */
main {
    align-self: self-end;
    margin: 40px 40px 40px 240px;
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    width: 80%;
    height: 100%;
    gap: 50px;
}

/* Panel Izquierdo */
.left-panel {
    display: flex;
    flex-direction: column;
    flex: 8;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}

.left-panel textarea {
    min-height: 75%;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    font-family: var(--font-primary);
    font-size: 2rem;
    color: var(--color-highlight);
}

textarea::placeholder {
    color: var(--color-highlight);
}

/* Texto Informativo */
.info {
    align-self: flex-start;
    font-family: var(--font-code);
    font-size: 1rem;
    color: var(--color-secondary);
}

/* Panel Derecho */
.right-panel {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 32px;
    min-width: 384px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
}

#noTextMessage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--font-code);
}

#noTextMessage img {
    background-color: var(--color-background);
    border-radius: 50px;
}

#noTextMessage p:first-of-type {
    font-weight: 700;
}

.outputTextClass {
    width: 100%;
    height: 100%;
}

.right-panel textarea {
    flex: 2;
    width: 100%;
    height: 89.5%;
    border: 0 none;
    resize: none;
    outline: none;
    padding: 5px;
    font-family: var(--font-monospace);
    font-size: 1.5rem;
    color: var(--color-secondary);
}

.right-panel button {
    margin-top: 5px;
}

/* Botones */
.buttons {
    margin-top: 16px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    height: 57px;
    width: 328px;
    font-size: 1.2rem;
    font-family: var(--font-encode);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:first-of-type {
    background-color: var(--color-highlight);
    color: #ffffff;
}

button:last-of-type {
    background-color: transparent;
    color: var(--color-highlight);
    border: 2px solid var(--color-highlight);
}

button:first-of-type:hover {
    background-color: var(--color-highlight-light);
}

button:last-of-type:hover {
    background-color: var(--color-highlight-bg);
}

/* Alerta */
.alert {
    padding: 20px;
    background-color: var(--color-alert);
    color: var(--color-alert-text);
    margin-bottom: 15px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 1.2rem;
}

.alert p {
    margin: 0;
    padding: 0;
}

.closebtn {
    margin-left: 15px;
    color: var(--color-alert-text);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #343A40;
}

/* Footer */
footer {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-expletus);
    color: var(--color-footer-text);
    background-color: var(--color-footer-bg);
}

/* Media Queries para Tablets */
@media (min-width: 768px) and (max-width: 1300px) {

    body {
        margin: 0;
        padding: 0;
    }
    /* Encabezado */
    header {
        margin-top: 30px;
        position: relative;
        top: 20px;
        left: 0;
        margin: 0;
        padding: 0;
        padding: 10px 20px;

    }

    #logo {
        position: relative;
        float: left;
        margin-right: 5px;
        width: 50px;
        height: 30px;
        top: 20px;
    }

    header h1 {
        position: relative;
        top: 15px;
        width: auto;
        left: 20px;
        top: 10px;
        line-height: 1.2;
        text-align: center;
    }
    
    /* Sección Principal*/
    main {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    /* Panel Izquierdo*/
    .left-panel {
        width: 100%;
    }

    /* Botones */
    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    button {
        width: 295px;
    }

    /* Panel derecho*/
    .right-panel {
        padding: 0;
        min-width: auto;
        min-height: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #noTextMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
    }

    #noTextMessage p {
        padding: 0 5px;
        text-wrap: balance;
    }
    
    #noTextMessage img {
        display: none;
    }

    #outputText {
        background-color: transparent;
        flex-direction: column;
        align-items: center;
        gap: 32PX;
        padding: 32px;
        flex-grow: 1; 
        height: auto;
        border-radius: 32px;
    }


    .right-panel textarea {
        height: auto;
        min-height: auto;
        flex-grow: 1; 
        border: 0 none;
        resize: none;
        outline: none;
        width: 100%;
        border-radius: 32px;
        resize: vertical;
        overflow: auto;
    }

    .right-panel button {
        margin: 0;
    }

    /* Alerta */
    .alert {
        padding: 20px;
        margin-bottom: 15px;
        position: fixed;
        top: 200px;
        left: 50%;
        font-size: 2rem;
    }

    /* Footer */
    footer {
        margin-top: 15px;
    }
}

/* Media Queries para Teléfonos Móviles
@media (max-width: 375px) {
    header {
        font-size: 1.5rem;
        padding: 5px 10px;
    }

    header h1 {
        width: auto;
        left: 10px;
        font-size: 1.2rem;
        top: 10px;
    }

    main {
        flex-direction: column;
        margin: 10px;
        width: 100%;
        align-items: center;
    }

    .left-panel {
        margin-top: 40px;
        width: 100%;
    }

    .right-panel {
        min-width: auto;
        width: 100%;
        margin-top: 15px;
    }

    button {
        width: 100%;
        font-size: 1rem;
    }

    textarea {
        font-size: 1.2rem;
    }

    .info {
        font-size: 0.8rem;
    }

    footer {
        font-size: 0.8rem;
        padding: 5px;
    }
} */